<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="babub.css">
	<title>Document</title>
</head>
<body>
	<p>Наведи курсор на середину</p>
	<style>
		.gain-center{
			transition: 3s;
			text-align: center;
			/*animation-delay: 1s;*/
			color: white;
			padding: 50px;
		}
		.gain-center:hover {
			color: black;
			display: block;
			transform: scale(10); /* Увеличиваем масштаб */
		}
	</style>
	<p class="gain-center"><i>Поставь чайник</i></p>
</body>
</html>