<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="babub.css">
	<title>Document</title>
</head>
<body>
	<p>Наведи курсор на середину</p>
	<style>
		.gain-center{
			transition: 5s;
			text-align: center;
			color: white;
			padding: 250px;
		}
		.gain-center:hover {
			rotate: 360deg;
			color: black;
			display: block;
			transform: scale(20);
		}
	</style>
	<p class="gain-center"><i>Лёшик)</i></p>
</body>
</html>